/**Add this to the main CSS document and it should work fine for the payment page**/
/** payment page styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/
.payment{
    display: flex;
    flex-direction: row;
    width:100%;
}
.paymentSection{
    margin-left:30px; margin-right: 30px;
    width:50%;
}
.paymentSection h4,.paymentSection h2 {
    text-align: left;
}
.paymentSection form #email,.paymentSection form #address1,.paymentSection form #address2{
    max-width:100%;
}
.paymentSection form #fname,.paymentSection form #lname,.paymentSection form #country, .paymentSection form #postcode, .paymentSection form #phone{
    width:47%;
}
.paymentSection form{
    display: flex;
    flex-direction: column;
}
.paymentSection form input{
    margin-top: 20px;
    height: 40px;
    font-size: 18px;
    border: solid 1px var(--accentColor);
}
.paymentSection form div{
    display: flex;
    flex-direction: row;
}
.paymentSection form div input:nth-child(2){
    margin-left: auto;
}
.paymentMethod{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.paymentMethod h3{
    text-align: left;
}
.paymentMethod div{
    display: flex;
    flex-direction: column;
    border: solid 1px var(--accentColor);
}
.paymentMethod div a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 80%;
    margin:20px auto;
    padding:10px 5px;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border: solid 1px var(--accentColor);
    text-decoration: none;
    color: var(--textColor);
    transition: 1s;
}
.paymentMethod div a.active{
    border: solid 1px var(--accentColor);
    background: var(--accentColor);
    color: var(--backColor);
}
.paymentMethod div a:hover{
    border: solid 1px var(--accentColor);
    background: var(--accentColor);
    color: var(--backColor);
}
.paymentMethod div span i{
    font-size: 50px;
    margin-left:10px;
}
.paymentSection.orderSummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.paymentSection img{
    width:100%;
    aspect-ratio: 16 / 9;
}
.paymentDescription, .paymentTotal{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.paymentTotal{
    padding-top: 20px;padding-bottom: 20px;
    border-top:solid 2px var(--accentColor);
}
.smallHeading{
    display: none;
}
#buyButton{
    margin:30px 0;
    padding:20px 20px;
    border: solid 1px var(--accentColor);
    background: var(--accentColor);
    color: var(--backColor);
    transition: 1s;
}
#buyButton:hover{
    border: solid 1px var(--accentColor);
    background: var(--backColor);
    color: var(--textColor);
}
@media (max-width:1150px){
    .payment{
        flex-direction: column-reverse;
    }
    .paymentSection{
        width: 90%;
    }
    .smallHeading{
        display: block;
    }
    .bigHeading{
        display: none;
    }
}
/** end of payment page styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/